.wp-block-growtype-gallery {
  a.wp-block-image-wrapper {
    opacity: 0.8;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
      transition: all 0.5s;
    }
  }

  .wp-block-image-inner {
    .caption {
      position: absolute;
      background: white;
      top: 30px;
      padding: 10px;
      border-radius: 0px 20px 20px 0px;
      padding-right: 15px;
      text-transform: uppercase;

      p {
        margin: 0;
        font-size: 12px;
      }
    }
  }
}
