.growtype-gallery-wrapper {
  display: inline-block !important;
  width: 100%;

  &[data-loader-type="story"] {
    .loader {
      position: absolute;
      height: 8px;
      width: calc(100% - 60px);
      top: 25px;
      left: 30px;
      border-radius: 10px;
      background: rgb(255 255 255 / 30%);
      display: none;

      .loader-inner {
        width: 0%;
        position: absolute;
        background: white;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 10px;
      }
    }
  }
}

.wp-block-growtype-gallery {
  gap: 0 !important;

  .wp-block-image {
    padding: 5px;
    float: left;
    margin: 0;

    &.is-style-rounded {
      .wp-block-image-inner {
        border-radius: 500px;
      }
    }

    .watermark {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      font-size: 14px;
      text-align: left;
      padding: 10px 20px;
    }
  }

  &.columns-2 {
    .wp-block-image {
      width: calc(100% / 2);
    }
  }

  &.columns-3 {
    .wp-block-image {
      width: calc(100% / 3);
    }
  }

  &.columns-4 {
    .wp-block-image {
      width: calc(100% / 4);
    }
  }

  &.columns-5 {
    .wp-block-image {
      width: calc(100% / 5);
    }
  }

  &.columns-6 {
    .wp-block-image {
      width: calc(100% / 6);
    }
  }

  &.columns-7 {
    .wp-block-image {
      width: calc(100% / 7);
    }
  }

  &.columns-8 {
    .wp-block-image {
      width: calc(100% / 8);
    }
  }

  .blocks-gallery-caption {
    display: inline-block;
    width: 100%;
  }

  .wp-block-image-inner {
    float: left;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;

    .overlay {
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
